<h1>Index</h1>

<% flash.each do |name, msg| %>
  <%= msg %><br>
<% end %>
<br>

<% @users.each do |u| %>
  <% unless current_user.friends.include?(u) || !FriendRequest.where(sender_id: current_user.id).find_by(receiver_id: u.id).nil? %>
  Name: <%= link_to(u.name, user_profile_path(u)) %><br>
  Email: <%= u.email %><br>
  Posts: <%= link_to('View posts', user_posts_path(u)) %>
  <%= button_to('Add friend', friend_requests_path(sender_id: current_user.id, receiver_id: u.id), method: :post) %>
  <br>
  <% end %>
<% end %>

<%= render('layouts/links') %>