<h1>Posts index</h1>

<%= render('layouts/flash') %>

<% @posts.each_with_index do |post, idx| %>
  <%= idx + 1 %>: <%= link_to("#{post.title}", user_post_path(current_user.id, post.id)) %>
  <%= link_to('Likes',  user_post_likes_path(current_user, post), method: :post) %> (<%= post.likes.count %>)

  <% if current_user.likes.exists?(post_id: post.id) %>
    <%= link_to('Unlike', user_post_like_path(current_user, post, current_user.likes.where(post_id: post.id).first), method: :delete) %><br>
  <% end %>
  <br>
<% end %>

<%= render('layouts/links') %>