<h1>New post</h1>

<%= form_with(model: @post, url: user_posts_path) do |f| %>
  <%= f.hidden_field(:user_id, value: current_user.id) %>
  <%= f.text_area(:text, size: '40x10', autofocus: true) %><br>
  <%= f.submit %>
<% end %>

<%= render 'layouts/links' %>