<h1><%= @post.title %></h1>

<%= render('layouts/flash') %>

<p>
  <%= @post.text %>
</p>

<%= link_to('Likes',  user_post_likes_path(current_user, @post), method: :post) %> (<%= @post.likes.count %>)
<% if current_user.likes.exists?(post_id: @post.id) %>
  <%= link_to('Unlike', user_post_like_path(current_user, @post, current_user.likes.where(post_id: @post.id).first), method: :delete) %><br>
<% end %>

<% unless @comments.blank? %>
  <h4>Comments</h4>
  <% @comments.each do |c| %>
    <%= c.comment %><br>
  <% end %>
<% end %>

<h4>Add a comment</h4>
<%= form_with(model: [current_user, @comment]) do |f| %>
  <%= f.hidden_field(:user_id, value: current_user.id) %>
  <%= f.hidden_field(:post_id, value: @post.id) %>
  <%= f.text_area(:comment, size: '20x5') %><br>
  <%= f.submit %>
<% end %>

<%= render('layouts/links') %>